<div *ngIf="loggedIn; else logIn" class="full-ht">
  <nav class="navbar navbar-fixed-top main-nav">
    <div class="container">
      <a class="navbar-brand" routerLink="home">
        <object
          data="assets/svg-logo.svg"
          class="logo-img"
          alt="washmen-logo"
        ></object>
      </a>
      <ul class="nav navbar-expand">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
<footer *ngIf="loggedIn" class="bg-gray">
  <div class="footer-copyright text-center py-3">
    © {{ year }} Copyright:
    <a href="https://www.washmen.com/"> Washmen</a>
  </div>
</footer>
<ng-template #logIn>
  <div class="main-bg">
    <div class="container-login bg-lighter-gray" *ngIf="!loggedIn">
      <div class="wrap-login text-center">
        <object
          data="assets/svg-logo.svg"
          class="logo-big-img"
          alt="washmen-logo"
        ></object>
        <div class="login-form">
          <div style="text-align: center" class="mb-4 mt-3">
            <span class="font-weight-bold text-danger" *ngIf="!loggedIn">{{
              errorMsg
            }}</span>
          </div>

          <button type="button" class="btn btn-primary" (click)="login()">
            Test the app
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
